{% extends 'base.html' %}

{% block item %}

                {% for item in objs %}
                        <div class="item">
                            <div class="news-pic">
                                <img src="{{ item.img }}" alt="抽屉新热榜" style="display: inline;">
                            </div>

                            <div class="null-item"></div>

                            <div class="news-content">
                                <div class="part1">
                                    <a href="{{item.url}}" class="show-content" target="_blank">{{ item.title }}</a>
                                    <span class="content-source">{{ item.url }}</span>
                                    <a href="/r/news/hot/1" class="n2">
                                        <span class="content-kind">{{ item.news_type.caption }}</span>
                                    </a>
                                </div>
                                <div class="area-summary">
                                    <span class="summary">{{ item.content|truncatechars:200 }}</span>
                                </div>
                                <div class="part2">
                                    <a href="javascript:void(0);" class="digg-a" title="推荐">

                                        <!--<span class="hand-icon icon-digg active"></span>-->

                                        <span class="hand-icon icon-digg" onclick="DoFavor(this, {{ item.nid }});"></span>

                                        <b id="favor_count_{{item.nid}}">{{ item.favor_count }}</b>
                                    </a>
                                    <a href="javascript:void(0);" class="discus-a">
                                        <span class="hand-icon icon-discus" onclick="ToggleCommentArea({{ item.nid }})"></span>
                                        <b id="comment_count_{{item.nid}}">{{ item.comment_count }}</b>
                                    </a>
                                    <a href="javascript:void(0);" class="collect-a" >
                                        <span class="hand-icon icon-collect"></span><b>私藏</b>
                                    </a>
                                    <a href="#" class="user-a">
                                        <span><img src=""></span>
                                        <b>root</b>
                                    </a>
                                        <span class="time-into">
                                            <a class="time-a" href="#" target="_blank">
                                                <b>{{ item.ctime }}</b>
                                            </a>
                                            <i>入热榜</i>
                                        </span>

                                </div>
                                <!-- 评论区域 -->
                                <div id="comment_area_{{item.nid}}" class="comment-box-area hide" >
                                    <div class="pinglun arrow"></div>
                                    <a class="pinglun close-comt" title="关闭" href="javascript:void(0);"></a>
                                    <div class="corner comment-box clearfix" >
                                        <div class="loading-ico loading-ico-top"  style="margin-left:230px;">加载中，请稍候...</div>
                                        <div class="comment-box-top " >
                                            <div class="tip-1">最热评论(<span>{{item.8}}</span>)</div>
                                            <div class="tip-2">
                                                <a href="#" target="_blank">
                                                    <em class="pinglun em1"></em>
                                                    <span>去评论页面</span>
                                                </a>
                                            </div>
                                        </div>
                                        <ul id="comment_list_{{item.nid}}" class="filetree comment-list-top-2 treeview ">

                                        </ul>

                                        <div class="huifu-top-box">
                                            <div class="box-l txt-input-area-div-top corner no-corner-bottom">
                                                <div class="lab-comment-top">回复  <span id="reply_id_{{item.0}}"></span>:</div>
                                                <textarea id="comment_content_{{item.nid}}" maxlength="150" name="txt-huifu-top" class="txt-huifu txt-huifu-top" placeholder="说点什么"></textarea>
                                            </div>



                                            <div class="box-r">
                                                <a href="javascript:void(0);" class="pub-icons add-pub-btn add-pub-btn-unvalid" onclick="DoComment({{item.nid}})">评论</a>
                                                <a href="javascript:void(0);" class="loading-ico loading-ico-top pub-loading-top hide">发布中...</a>
                                            </div>
                                        </div>
                                        <div class="tip-3 ">
                                            <a href="javascript:void(0);" class="hiddenCom-Btn" onclick="HideCommentArea({{item.0}});">
                                                <em class="pinglun em2"></em>
                                                <span>收起</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>


                            </div>
                        </div>
                {% endfor %}


{% endblock %}

{% block jsitem %}
   $(function () {
            $('#menu_main').addClass('active').siblings().removeClass('active');
        });
{% endblock %}
