upload.html<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>方式二:Ajax上传文件(支持新浏览器,不兼容老浏览器)</h1>
    <input type="file" id="ggggg">
    <a id="btn1">提交</a>

    <script src="/static/jquery-1.12.4.js"></script>
    <script src="/static/jquery.cookie.js"></script>
    <script>
        $(function(){
            $("#btn1").click(function(){
                var fm = new FormData();
                fm.append('fffff', document.getElementById('ggggg').files[0]);
                $.ajax({
                    url: "/ajaxupload/",
                    type: 'POST',
                    data: fm,
                    headers:{ "X-CSRFtoken":$.cookie("csrftoken")},
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    success:function(arg){
                        console.log(arg);
                    }
                })
            })
        })
    </script>
</body>
</html>