{% extends 'index.html' %}

{% block content-container %}
    <div id="page-title">
        <h1 class="page-header text-overflow">批量命令</h1>

    </div>

    <div id="page-content">
    {% csrf_token %}
        <div class="panel col-lg-3">
            <div class="panel-heading">
                <h3 class="panel-title">主机组 <span id="selected_host_num"></span></h3>
            </div>
            <div class="panel-body">

                <ul class="list-group" id="host_list">
                    {% for group in request.user.host_groups.all %}

                    <li class="list-group-item ">
                        <input type="checkbox" onclick="CheckAllHosts(this)">
                        <a  href="#" onclick="ToggleHostlist(this)">
                            {{ group.name }}
                        </a>
                        <span class="badge badge-primary">{{ group.bind_host_users.count }}</span>
                    </li>

                    <ul class="hide">
                         {% for bind_host in group.bind_host_users.all %}
                            <li><input  onclick="CountSelectedHosts()" class="host_ele" type="checkbox" value="{{ bind_host.id }}">{{ bind_host.host_user.username }}@{{ bind_host.host.ip_addr }}</li>
                         {% endfor %}
                    </ul>

                    {% endfor %}
                    <li class="list-group-item">
                        <input type="checkbox" onclick="CheckAllHosts(this)">
                        <a href="#" onclick="ToggleHostlist(this)">
                            未分组主机

                        </a>
                         <span class="badge badge-primary">{{ request.user.bind_host_users.count}}</span>
                    </li>

                    <ul class="hide">
                         {% for bind_host in request.user.bind_host_users.all %}
                            <li><input class="host_ele"  onclick="CountSelectedHosts()" type="checkbox" value="{{ bind_host.id }}">{{ bind_host.host_user.username }}@{{ bind_host.host.ip_addr }}</li>
                         {% endfor %}
                    </ul>


                </ul>



            </div>
        </div>
        <div class="col-lg-9">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">命令</h3>
                </div>
                <div class="panel-body">
                   <textarea id="cmd_input" class="form-control" placeholder="input you command here...."></textarea>
                    <button class="btn btn-danger" id='stop_task_btn' onclick="StopTask(this)" disabled>终止任务</button>
                    <button class="btn btn-info pull-right" onclick="PostTask('cmd')">执行</button>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">任务结果</h3>
                </div>
                <div class="panel-body">

                    <div class="progress hide">
                        <div id="task_progress" style="width: 0%;" class="progress-bar progress-bar-info"></div>
                    </div>


                    <div id="task_result"></div>
                </div>
            </div>

        </div>

    </div>


<script>
function ToggleHostlist(self) {

     $(self).parent().next().toggleClass("hide");

}

function  CountSelectedHosts() {
    $("#selected_host_num").text( $(".host_ele:checked").length );
}

function StopTask(self) {

   $.post("{% url 'stop_task' %}",{'task_id': $(self).attr("task_id"),'csrfmiddlewaretoken':"{{ csrf_token }}" },function(callback ){

       console.log(callback )
       var callback = JSON.parse(callback);
       if (callback.status == 0){
            clearInterval(get_result_timer);
            console.log("task cancelled.")
           $.niftyNoty({
                type: "danger",
                container : "floating",
                title : "Task is terminated... ",
                message : "Task has killed...",
                closeBtn : true,
                timer : 25000
           });
       }

   });//end post

}
function CheckAllHosts(self) {

    $(self).parent().next().find('input').prop("checked",$(self).prop("checked"))

    CountSelectedHosts()

}
function  GetTaskResult(task_id ){

    $.getJSON("{% url 'get_task_result' %}",{'task_id':task_id},function(callback){

        console.log(callback)
        var result_ele = ""
        var res_status = {
            0:'成功',
            1:'失败',
            3:'超时',
            2:'执行中',
        }


        var all_task_done = true;
        var finished_task_counter = 0 ;
        $.each(callback,function (index,i) {
                var single_res_title = "<p>"+ i.bind_host__host__hostname + "(" +i.bind_host__host__ip_addr +")" +
                        "-----------------" + res_status[i.status] +"</p>"
                var single_res_body = "<pre>" + i.result +"</pre>"
                var single_res  = single_res_title + single_res_body;
                result_ele += single_res
                if ( i.status == 2){ //任务还在执行中
                    all_task_done = false

                }else {
                    //执行完了
                    finished_task_counter +=  1
                }
        })

        if (all_task_done){
            //代表所有任务都执行完了
            clearInterval(get_result_timer);
        }
        var finished_percent = parseInt(finished_task_counter / callback.length * 100);
        $("#task_progress").parent().removeClass("hide");
        $("#task_progress").css("width", finished_percent+"%").text(finished_percent+"%");

        $("#task_result").html(result_ele);


    });//end getJSON
}


function  PostTask(task_type) {

    var selected_hosts = []
    $.each($(".host_ele:checked"),function (index,ele) {
        selected_hosts.push($(ele).val());
    })
    var cmd_str = $("#cmd_input").val()

    if ( selected_hosts.length == 0){
        alert("必须选择主机！")
        return false;
    }
    if ( cmd_str.length == 0){
        alert("必须输入命令！")
        return false;
    }

    console.log(selected_hosts)

    // start post task
    var task_data  = {
        'task_type':task_type,
        'selected_host_ids':selected_hosts,
        'cmd':cmd_str
    }

    $.post("{% url 'multitask' %}", {'task_data': JSON.stringify(task_data),'csrfmiddlewaretoken':"{{ csrf_token }}"},function(callback){

        console.log(callback);
        var callback = JSON.parse(callback)

        $("#stop_task_btn").removeAttr("disabled");
        $("#stop_task_btn").attr("task_id", callback.task_id);

        var timer_counter = 0
        get_result_timer = setInterval(function () {

            GetTaskResult(callback.task_id)

            //if (timer_counter < callback.timeout ){ // 还可以继续运行
            if (timer_counter < 10  ){ // 还可以继续运行
                timer_counter += 2 ;

            }else {
                clearInterval(get_result_timer);
                console.log("task is timed out ...")

                $.niftyNoty({
                    type: "warning",
                    container : "floating",
                    title : "Task is timed out . ",
                    message : "Task has timed out , but there are still 4 sub task hasn't done yet.",
                    closeBtn : true,
                    timer : 25000
                });

            }
        },2000);
    });//end post

}

</script>

{% endblock %}