{% extends 'base.html' %}


{% block content %}
    <!-- shadow-->
    <div class="shadow">
    </div>
    <!-- dialog -->
    <div class="dialog">
        <div style="margin-top: 100px; margin-left: 10%">
            <form action="/blog/login/" method="POST">
                用户名:<input type="text" name="username"/>
                密码:<input type="password" name="password"/>
                <br><br>
                <input type="submit" value="提交">
                <input type="button" value="取消" onclick="cancelLogin();">
            </form>
        </div>
    </div>
    <p>Not Login</p>
{% endblock %}

