<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error-msg{
            color:red;
        }
    </style>
</head>
<body>

    <div>
        <div>
            <input type="text" name="user" />
        </div>
        <div>
            <input type="password"  name="pwd"/>
        </div>
        <div>
            <input type="text"  name="num"/>
        </div>
        <div>
            <input type="text"  name="phone"/>
        </div>

        <input type="button" value="提交" onclick="DoSubmit();"/>
    </div>

    <script src="/static/jquery-1.12.4.js"></script>
    <script>

        function DoSubmit(){
            var input_dict={};
            $('input').each(function(){
                var v=$(this).val();
                var n=$(this).attr('name');
                input_dict[n]=v;
            })
            $('.error-msg').remove();
            $.ajax({
                url:'/login/',
                type:'POST',
                data:input_dict,
                dataType:'json',
                success:function(result){
                    if(result.status){
                        location.href = '/index/'
                    }else {
                        $.each(result.message, function (k, v) {
                            var tag = document.createElement('span');
                            tag.className = 'error-msg';
                            tag.innerText = v[0].message;
                            $('input[name="' + k + '"]').after(tag)
                        })
                    }
                },
                error:function(){}
            })
        }
    </script>
</body>
</html>