<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>个人信息</h3>
    <div>
        {{ init_dict.User.NickName }}

        <img src="https://wx.qq.com/{{ init_dict.User.HeadImgUrl }}">
        <img src="/get_user_avatar.html?k={{ init_dict.User.HeadImgUrl }}">
        <img src="/get_user_avatar.html?k=/cgi-bin/mmwebwx-bin/webwxgeticon?seq=655200479&username=filehelper&skey=@crypt_2ccf8ab9_926a3f3e23472436a6067e57d7b614b1">
        看不到头像，原因设置防盗链。
        获取refer请求头
    </div>
    <h3>常用联系人列表</h3>
    <ul>
        {% for item in init_dict.ContactList %}
            <li>{{ item.NickName }}</li>
        {% endfor %}
        <li><a href="/xxxx">查看所有联系人</a></li>
    </ul>

</body>
</html>