<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        span {
            color: blue;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <h1>增加页面</h1>

    <h3>方法一:</h3>
    <form style="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="提交">
    </form>

<h3>方法二:</h3>
    <form action="/add/" method="POST", enctype="multipart/form-data">
        <p>{{ form.ip.label }}:{{ form.ip }} {{ form.ip.errors }} <span>{{ form.ip.help_text }}</span></p>
        <p>{{ form.port.label }}:{{ form.port }} {{ form.port.errors }} <span>{{ form.port.help_text}}</span></p>
        <input type="submit">
    </form>
</body>
</html>