{% load luffyadmin_tags %}

<div class="">
    {% get_filter_condtions_string filter_conditions q_val as  filter_condtions_string %}

    <h3>{{ app_name }}</h3>


    <form >

                <div class="row">
                     <div class="col-lg-3">
                        <input type="search" name="_q" value="{% if q_val %}{{ q_val }}{% endif %}" placeholder="{% for s_field in admin_class.search_fields%}{{ s_field }} {% endfor %}" class="form-control">
                     </div>
                    <div class="col-lg-1 col-lg-offset-11">
                        <a href="add/" class="btn btn-info">Add {% get_model_verbose_name admin_class %}</a>
                    </div>
                </div>
                <div class="row">
                    {% for filter_column in admin_class.list_filter %}
                        <div class="col-lg-2">
                            <p>{{ filter_column }}</p>
                            {% build_filter_ele filter_column admin_class filter_conditions %}

                        </div>
                    {% endfor %}
                    {% if admin_class.list_filter %}
                        <div class="col-lg-1">
                            <button class="btn btn-success" style="margin-top: 30px">过滤</button>
                        </div>
                    {% endif %}
                </div>
        </form>
    <form method="post" onsubmit="return FormVerification(this)">{% csrf_token %}
        <div class="row">
            <div class="col-lg-2">
               <select class="form-control " name="admin_action" >
               <option value>-------</option>
                {% for opt in admin_class.default_actions %}
                    <option value="{{ opt }}">{{ opt }}</option>
                {% endfor %}
                {% for opt in admin_class.actions %}
                    <option value="{{ opt }}">{{ opt }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="col-lg-1">
                <input type="submit" class="btn btn-primary"  value="Go">
            </div>

        </div>

        <table class="table table-hover">

            <thead>
                <tr>
                    <th><input  onclick="checkAll(this)" type="checkbox" ></th>
                    {% if not  admin_class.list_display %}
                        <th>{{ model_name }}</th>
                    {% else %}
                        {% for column in admin_class.list_display %}
                        <th>
                        {% if order_column == column  %}
                            <a href="?_o={{new_order_key }}{{ filter_condtions_string }}">
                                {{ column }}
                                {% generate_orderby_icon  new_order_key %}

                            </a>
                        {% else %}
                            <a href="?_o={{column }}{{ filter_condtions_string }}"> {{ column }}</a>
                        {% endif %}
                        </th>
                        {% endfor %}
                    {% endif %}
                </tr>
            </thead>
            <tbody>

                {% for row in querysets %}
{#                            <tr>#}
{#                                {% for column_name in admin_class.list_display %}#}
{#                                    <td>{{ row.column_name }}</td>#}
{##}
{#                                {% endfor %}#}
{#                            </tr>#}
{#                            {% build_table_row row admin_class as row_data %}#}
                    {% build_table_row row admin_class  %}
{#                            {{ row_data|safe }}#}
                {% endfor %}

            </tbody>
        </table>

    </form>
    <div class="pagination">


         <ul class="pagination">
            <li class=""><a href="?_page=1{{ filter_condtions_string }}">首页 </a></li>

             {% for p in paginator.page_range %}
                {% get_abs_value p  querysets.number as i %} <!--i变量是当前页与循环的次数的差的绝对值 -->

                 {% if i < 3 %}
                    {% if p == querysets.number %}
                        <li class="active"><a href="?_page={{ p }}{{ filter_condtions_string }}&_o={{ last_orderby_key }}">{{ p }} <span class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li class=""><a href="?_page={{ p }}{{ filter_condtions_string }}&_o={{ last_orderby_key }}">{{ p }} <span class="sr-only">(current)</span></a></li>

                    {% endif %}
                {% endif %}
            {% endfor %}
            <li class=""><a href="?_page={{ paginator.num_pages }}{{ filter_condtions_string }}&_o={{ last_orderby_key }}">尾页 </a></li>
            <li> 总计 {{ querysets.paginator.num_pages }}页</li>
         </ul>



    </div>
    <script>
        function checkAll(self) {
            if ( $(self).prop('checked')){

                $("table .row-obj").prop('checked',true)
            }else {
                 $("table .row-obj").prop('checked',false)
            }

        }


       function FormVerification(self) {



           var action_val = $("select[name='admin_action']").val();
           console.log("-------",action_val)
           if ( $('table .row-obj:checked').length ==0  ){
                    alert("必须选择对象")
                    return false;
           }
           if (!action_val){
                    alert("必须选择admin action")
                    return false;
           }
           return true
       }


    </script>
</div>