<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>抽屉新热榜</title>
    <link rel="stylesheet" href="/static/css/commons.css" />
    <link rel="stylesheet" href="/static/plugins/tab-menu-box/tab.css" />

    <style>
        .comment1 > .content1{
            margin-left: 30px;
        }
    </style>

</head>
<body>
<div class="pg-header">
    <div class="w">
        <a class="logo" href="/"></a>
        <div class="act-menu">
            <a href="/" id="menu_main" class="tb">全部</a>
            <a href="/news/qu/" id="menu_qu" class="tb">42区</a>
            <a href="/news/dz/" id="menu_dz" class="tb">段子</a>
            <a href="/news/tp/" id="menu_tp" class="tb">图片</a>
            <a href="/news/at/" id="menu_at" class="tb">挨踢1024</a>
            <a href="/news/nw/" id="menu_nw" class="tb">你问我答</a>
        </div>
        <div class="key-sera">

            <form action="/search/show" method="post" name="searchFrm2" id="searchFrm2">
                <input type="text" class="search-txt-s" name="words" id="txtSearch2" autocomplete="off">

                <a href="javascript:;" class="i" name="searchBtn_2" id="searchBtn_3"><span class="ico"></span></a>
                <input type="hidden" value="1" id="page" name="page">
            </form>

        </div>

    {% if request.session.user_info.user_name %}
            <div id="action_nav" is-login="true" class="action-nav">
                <a href="/show/flow/1" style="float:left;position:relative;" id="btnDtaiShw">动态
                    <b class="notice-num-title" id="Dtai-num-title" style="right: 3px; display: none;">
                        <em id="Dtai-em"></em>
                    </b>
                </a>
                <a href="javascript:;" id="btnNotShw" class="notice-box">通知
                    <b class="notice-num-title" id="notice-num-title" style="display: none;">
                        <em id="notice-em"></em>
                        <i>+</i>
                    </b>
                </a>
                <a href="#" id="loginUserNc" class="userPro-Box">
                        <img src="{{ avatar.img }}" id="userProImg">
                        <span class="u-nick" id="userProNick">{{ request.session.user_info.user_name }}</span>
                        <em id="userProArr"></em>
                </a>
            </div>
            <div class="user-opr-box" id="userOprBox" style="left: 869px; display: none;">
                <a href="#" style="border-top:0;">我的新热榜</a>
                <a href="#">设置</a>
                <a class="logout" href="/logout/">退出</a>
                <a href="#" target="_blank" class="ie6-a">我的收藏</a>
            </div>
        {% else %}

                <div id="action_nav" is-login="false" class="action-nav">
                    <a href="javascript:void(0);" class="login-btn-a" id="reg_link_a">注册</a>
                    <a href="javascript:void(0);" class="login-btn-a" id="login_link_a">登录</a>
                </div>
        {% endif %}
    </div>

</div>

<div class="pg-body">



    <div style="background-color: #eee;">
        <div class="w body-content">
            <div class="clearfix">

                <div class="content-l" >
                    <div class="nav-top-area">
                        <div class="child-nav">
                            <a href="/r/pic/hot/1" hidefocus="false" class="icons active hotbtn" id="hotts-nav-btn">最热</a>
                            <a href="/r/pic/new/1" hidefocus="false" class="newbtn" id="newest-nav-btn">最新</a>
                        </div>

                        <a href="javascript:void(0);" class="publish-btn" id="publishBtn">
                            <span class="ico n1"></span><span class="n2">发布</span>
                        </a>

                    </div>

                    <div class="content-list" id="content_list">

                        {% block item %} {% endblock %}

                    </div>


                    <div class="pagination">
                        {{ page_info.page_str|safe }}
                    </div>
                </div>


                <div class="content-r">

                </div>
            </div>
        </div>
    </div>

    <div class="shadow hide"></div>

    <div id="publishDialog" class="dialog hide">
        <div class="dialog-title-bar">
            <div class="dialog-title">
                <span>分享新发现</span>
            </div>
            <div class="dialog-close" onclick="CloseDialog('#publishDialog');">X</div>
        </div>
        <div class="dialog-content">
            <div class="tab-menu-box">
                <div class="menu">
                    <ul id="tab-menu-title">
                        <li content-to="1" class="current">链接</li>
                        <li content-to="2" >文字</li>
                        <li content-to="3" >图片</li>
                    </ul>
                </div>

                <div id="tab-menu-body" class="content">
                    <div content="1" class="publish-content clearfix">
                        <div class="tab-alt">添加链接</div>
                        <div class="f1 clearfix">
                            <div class="left"><input type="text"  name="url" /></div>
                            <div class="right"><a href="javascript:void(0);">获取标题</a></div>
                        </div>
                        <div class="tab-alt">标题</div>
                        <div class="f2">

                            <input type="text" name="title" />
                        </div>
                        <div class="tab-alt">添加摘要（选填）</div>
                        <div class="f2">
                            <textarea name="content"></textarea>
                        </div>
                        <div class="f3">
                            <span>发布到：</span>
                            <div class="news-type" style="display: inline-block">
                                <a value="1" class="active">42区</a>
                                <a value="2" >段子</a>
                                <a value="3" >图片</a>
                                <a value="4" >挨踢1024</a>
                                <a value="5" >你问我答</a>
                            </div>
                        </div>
                        <div class="f4">
                            <a class="submit right" id="submit_link">提交</a>
                            <span class="error-msg right"></span>
                        </div>
                    </div>
                    <div content="2" class="publish-content clearfix hide">
                        <div class="f2">
                            <textarea name="title"></textarea>
                        </div>
                        <div class="f3">

                            <span>发布到：</span>
                            <div class="news-type" style="display: inline-block">
                                <a value="2" class="active">段子</a>
                                <a value="5">你问我答</a>
                            </div>
                        </div>
                        <div class="f4">
                            <a class="submit right" id="submit_text">提交</a>
                            <span class="error-msg right"></span>
                        </div>
                    </div>
                    <div content="3" class="publish-content clearfix hide">
                        <div class="tab-alt">添加图片</div>
                        <div class="f5">
                            <form style="display: inline-block" id="upload_img_form" name="form" action="/upload_image/" method="POST"  enctype="multipart/form-data" >
                                <a id="fakeFile" class="fake-file">
                                    <span>上传图片</span>
                                    <input type="file" name="img" onchange="UploadImage(this);"/>
                                    <input type="text" name="url" class="hide" />
                                </a>
                                <iframe id='upload_img_iframe' name='upload_img_iframe' src=""  class="hide"></iframe>
                            </form>
                            <a href="javascript:void(0);" class="re-upload hide" id="reUploadImage" onclick="ReUploadImage(this);">重新上传</a>
                        </div>
                        <div class="f2" style="margin-top: 8px">
                            <textarea name="title" placeholder="请输入描述"></textarea>
                        </div>
                        <div class="f3">
                            <span>发布到：</span>
                            <div class="news-type" style="display: inline-block">
                                <a value="3" class="active">图片</a>
                                <a value="5">你问我答</a>
                            </div>
                        </div>
                        <div class="f4">
                            <a class="submit right" id="submit_img">提交</a>
                            <span class="error-msg right"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="accountDialog" class="account-dialog hide clearfix">
        <div id="model_login" class="login left">
            <div class="header">登陆</div>
            <div class="content">
                <div style="padding: 0 70px">
                    <div class="tips">
                        <span>用户名登陆</span>
                        <span style="padding: 0 5px;">|</span>
                        <span>邮箱登陆</span>
                    </div>
                    <div id="login_error_summary" class="error-msg">

                    </div>
                    <div class="inp">
                        {% csrf_token %}
                        <input name="user" type="text" placeholder="请输入用户名或邮箱" />
                    </div>
                    <div class="inp">
                        <input name="pwd" type="password" placeholder="请输入密码" />
                    </div>
                    <div class="inp clearfix">
                        <input name="code" class="check-code" type="text" placeholder="请输入验证码" />
                        <span>
                            <img class="check-img" src="/check_code/" alt="验证码" onclick="ChangeCode(this);">
                        </span>

                    </div>
                    <div class="extra">
                        <input type="checkbox" name="autoLogin" checked="checked" /> <span>一个月内自动登录</span>
                        <a class="right" href="javascript:void(0);">忘记密码？</a>
                    </div>
                    <div class="inp">
                        <div class="submit" onclick="SubmitLogin(this);">
                            <span>登陆</span>
                            <span class="hide">
                                <img src="/statics/images/loader.gif" style="height: 16px;width: 16px">
                                <span>正在登陆</span>
                            </span>
                        </div>
                    </div>
                </div>
                <script>
                    function ChangeCode(ths) {
                        ths.src += '?';
                    }
                </script>
            </div>
        </div>
        <div id="model_register" class="register left">
            <div class="header">
                <span>注册</span>
                <div class="dialog-close" onclick="CloseDialog('#accountDialog');">X</div>
            </div>
            <div class="content">
                <div style="padding: 0 70px">
                    <div class="tips">
                        <span>输入注册信息</span>
                    </div>
                    <div id="register_error_summary" class="error-msg">

                    </div>
                    <div class="inp">
                        <input name="username" type="text" placeholder="请输入用户名" />

                    </div>
                    <div class="inp">
                        <input name="email" id="email" type="text" placeholder="请输入邮箱" />
                    </div>
                    <div class="inp">
                        <input name="email_code" class="email-code" type="text" placeholder="请输入邮箱验证码" />
                        <a id="fetch_code" class="fetch-code" href="javascript:void(0);">获取验证码</a>
                    </div>
                    <div class="inp">
                        <input name="password" type="password" placeholder="请输入密码" />
                    </div>
                    <div class="inp">
                        <div class="submit" onclick="SubmitRegister(this);">
                            <span>注册</span>
                            <span class="hide">
                                <img src="/statics/images/loader.gif" style="height: 16px;width: 16px">
                                <span>正在注册</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

<div class="pg-footer" style="background-color: #eee;">
    <div class="w" style="background-color: #ffffff;">
        <div class="foot-nav">
            <div style="display:none" id="y-destjid"></div>
            <div style="display:none" id="y-destnick"></div>
            <a href="/help/about" target="_blank">关于我们</a><span>|</span><a href="/help/contact" target="_blank">联系我们</a><span>|</span><a href="/help/service" target="_blank">服务条款</a><span>|</span><a href="/help/privacy" target="_blank">隐私政策</a><span>|</span><a href="/help/tool" target="_blank">抽屉新热榜工具</a><span>|</span><!--<a href="http://img.chouti.com/toolsffcj.html" target="_blank">浏览器插件</a><span>|</span>--><a href="/download/model" target="_blank">下载客户端</a><span>|</span><a href="/feedback" target="_blank">意见与反馈</a><span>|</span><a href="/help/goodlink" target="_blank">友情链接</a><span>|</span><a href="http://www.shouye.com/Index.do?method=show&amp;pageId=44251&amp;jid=xinrebang@gozap.com" target="_blank">公告</a><!--<span>|</span><a href="/points/gifts" target="_blank">积分商城</a>-->
            <a href="#" target="_blank" style="margin-left:0;vertical-align:-2px;" title="Rss订阅，Feed地址：http://dig.chouti.com/feed.xml"><img src="" width="36" height="14"></a>
        </div>
        <div class="foot-nav2">
            <a target="_blank" href="http://www.gozap.com/"><img class="foot_e" src=""></a>
            <span class="foot_d">旗下站点</span>
            <span class="foot_a">© 2016 chouti.com</span>
            <a target="_blank" href="http://www.miibeian.gov.cn/" class="foot_b">京ICP备09053974号-3 京公网安备 110102004562</a>
            <div style="margin-top:6px;">版权所有：北京格致璞科技有限公司</div>
        </div>
    </div>
</div>

<script src="/static/js/jquery-1.12.4.js"></script>
<script src="/static/plugins/tab-menu-box/tab.js"></script>
<script src="/static/jquery.cookie.js"></script>


<script>
    {% block jsitem %} {% endblock %}

    $(function(){
        BindTabMenu('#tab-menu-title', '#tab-menu-body');

        $('#loginUserNc,#userOprBox').mouseover(function(){
            $('#userOprBox').css('display', 'block');
            $('#loginUserNc').addClass('active');
        }).mouseout(function () {
            $('#userOprBox').css('display', 'none');
            $('#loginUserNc').removeClass('active');
        });

        BindLoginRegisterDialog();

        BindPublishDialog();

        BindSendMsg();

        BindNewType();

        BindPublishSubmit();

    });


    function BindPublishSubmit(){
        $('#submit_link,#submit_text,#submit_img').click(function(){
            // 获取输入内容并提交
            var container = $(this).parent().parent();
            var post_dict = {};
            container.find('input[type="text"],textarea').each(function(){
                post_dict[$(this).attr('name')] =$(this).val();
            });
            post_dict['news_type_id'] = container.find('.news-type .active').attr('value');

            $.ajax({
                url: '/index/',
                type: 'POST',
                data: post_dict,
                dataType: 'json',
                success: function (arg) {
                    if(arg.status){
                        window.location.href = '/index';
                    }else{
                        console.log(arg);
                    }
                }

            })


        });
    }

    function BindNewType(){
        $('.news-type').children().click(function(){
            $(this).addClass('active').siblings().removeClass('active');
        });
    }

    function BindSendMsg(){
        $("#fetch_code").click(function(){
            $('#register_error_summary').empty();
            var email = $('#email').val();
            if(email.trim().length == 0){
                $('#register_error_summary').text('请输入注册邮箱');
                return;
            }
            if($(this).hasClass('sending')){
                return;
            }
            var ths = $(this);
            var time = 60;

            $.ajax({
                url: "/send_msg/",
                type: 'POST',
                data: {email: email},
                dataType: 'json',
                success: function(arg){
                    if(!arg.status){
                        $('#register_error_summary').text(arg.summary);
                    }else{
                        ths.addClass('sending');
                        var interval = setInterval(function(){
                            ths.text("已发送(" + time + ")");
                            time -= 1;
                            if(time <= 0){
                                clearInterval(interval);
                                ths.removeClass('sending');
                                ths.text("获取验证码");
                            }
                        }, 1000);
                    }
                }
            });

        });
    }

    function BindLoginRegisterDialog(){

        $('#reg_link_a,#login_link_a').click(function(){
            $('#accountDialog').removeClass('hide');
            $('.shadow').removeClass('hide');
        });
    }

    function BindPublishDialog(){

        $('#publishBtn').click(function(){
            if($('#action_nav').attr('is-login') == 'true'){
                $('#publishDialog').removeClass('hide');
            }else{
                $('#accountDialog').removeClass('hide');
            }

            $('.shadow').removeClass('hide');
        });

    }

    function CloseDialog(dialog){
        $(dialog).addClass('hide');
        $('.shadow').addClass('hide');
    }

    window.onkeydown = function(event){
        if(event && event.keyCode == 27){
            $('.dialog,.account-dialog,.shadow').addClass('hide');
        }
    };

    /*
     上传图片
     */
    function UploadImage(ths){
        document.getElementById('upload_img_iframe').onload = UploadImageComplete;
        document.getElementById('upload_img_form').target = 'upload_img_iframe';
        document.getElementById('upload_img_form').submit();
    }

    /*
     上传图片之后回掉函数
     */
    function UploadImageComplete(){
        var origin = $("#upload_img_iframe").contents().find("body").text();
        var obj = JSON.parse(origin);
        if(obj.status){
            var img = document.createElement('img');
            img.src = '/' + obj.data;
            img.style.width = "200px";
            img.style.height = "180px";
            $("#upload_img_form").append(img);
            $('#fakeFile').addClass('hide');
            $('#reUploadImage').removeClass('hide');
            $('#fakeFile').find('input[type="text"]').val(obj.data);
        }else{
            alert(obj.summary);
        }
    }

    /*
     重新上传图片
     */
    function ReUploadImage(ths){
        $(ths).addClass('hide');
        $("#upload_img_form").find('img').remove();
        $('#fakeFile').removeClass('hide');
    }

    /*
     点击登陆按钮
     */
    function SubmitLogin(ths){
        $(ths).children(':eq(0)').addClass('hide');
        $(ths).addClass('not-allow').children(':eq(1)').removeClass('hide');
        // 发送Ajax请求
        //完成之后
        $('#model_login .inp .error').remove();

        var post_dict = {};
        $('#model_login input').each(function(){
            post_dict[$(this).attr("name")] = $(this).val();
        });

        $.ajax({
            url: '/login/',
            type: 'POST',
            data: post_dict,
            dataType: 'JSON',
            headers:{ "X-CSRFtoken":$.cookie("csrftoken")},
            success: function(arg){
                if(arg.status){
                    window.location.href = '/';
                }else{
                    if(arg.code == 402){
                        var tag = document.createElement('span');
                        tag.className = 'error';
                        tag.innerText = "验证码错误";
                        $('#model_login input[name=code]').after(tag);
                    }else if(arg.code == 401) {
                        $.each(arg.message, function (k, v) {
                            var tag = document.createElement('span');
                            tag.className = 'error';
                            tag.innerText = v[0];
                            $('#model_login input[name="' + k + '"]').after(tag);
                        })
                    }else{
                        var tag = document.createElement('span');
                        tag.className = 'error';
                        tag.innerText = arg.message;
                        $('#model_login input[name=user]').after(tag);
                    }
                }
            }
        });

        $(ths).removeClass('not-allow').children(':eq(1)').addClass('hide');
        $(ths).children(':eq(0)').removeClass('hide');
    }

    /*
     点击注册按钮
     */
    function SubmitRegister(ths){
        $('#register_error_summary').empty();
        $('#model_register .inp .error').remove();

        $(ths).children(':eq(0)').addClass('hide');
        $(ths).addClass('not-allow').children(':eq(1)').removeClass('hide');

        var post_dict = {};
        $('#model_register input').each(function(){
            post_dict[$(this).attr("name")] = $(this).val();
        });

        $.ajax({
            url: '/register/',
            type: 'POST',
            data: post_dict,
            dataType: 'json',
            success: function(arg){
                if(arg.status){
                    window.location.href = '/index';
                }else{
                    $.each(arg.message, function(k,v){
                        //<span class="error">s</span>
                        var tag = document.createElement('span');
                        tag.className = 'error';
                        tag.innerText = v[0]['message'];
                        $('#model_register input[name="'+ k +'"]').after(tag);
                    })
                }
            }
        });

        $(ths).removeClass('not-allow').children(':eq(1)').addClass('hide');
        $(ths).children(':eq(0)').removeClass('hide');
    }

    /*
     显示或隐藏评论区
     */
    function ToggleCommentArea(nid){
        var $comment_area = $("#comment_area_" + nid);
        if($comment_area.hasClass('hide')){
            $comment_area.removeClass('hide');
            var $comment_list = $("#comment_list_" + nid);
            $.ajax({
                url: '/comment/',
                type: 'GET',
                data: {nid: nid},
                dataType:"JSON",
                success: function(arg){
                    $comment_list.empty();
                    $comment_list.append(arg);
                    var $loading = $comment_area.find('.comment-box').children().first();
                    $loading.addClass('hide');
                    $loading.siblings().removeClass('hide');
                }
            })
        }else{
            $comment_area.addClass('hide');
        }
    }
/*
    function process_comment_dict(arg){
        prev1 = "<div class='comment'> <div class='content'>";
        $.each(arg, function(k, v){tpl1 = '<div class="item">'+ v['content'] + '</div>';
            prev1 = prev1 + tpl1;
            if(v['child']){
                node1 = create_child_node(v['child']);
                prev1 = prev1 + node1;
            }
        })
        end1 = "</div></div>";
        return  prev1 + end1
    }

    function create_child_node(arg){
        console.log(arg);
        prev = '<div class="comment"><div class="content">'
        $.each(arg, function(child){
            tpl = '<div class="item">' + child['content'] + '</div>'
            prev = prev + tpl
            if(child['child']){
                node = create_child_node(child['child'])
                prev = prev + node
            }
        })
        end = "</div></div>"
        return prev + end
    }
*/
    /*
     隐藏评论区
     */
    function HideCommentArea(nid){
        $("#comment_area_" + nid).addClass('hide');
    }

    /*
     发布评论
     */
    function DoComment(nid){
        var content = $("#comment_content_"+nid).val();
        var reply_id = $("#reply_id_"+nid).attr('target');

        if($('#action_nav').attr('is-login') == 'true'){
            $.ajax({
                url: '/comment/',
                type: 'POST',
                data: {content: content, reply_id:reply_id, news_id: nid},
                dataType: 'json',
                success: function(arg){
                    // 获取评论信息，将内容添加到指定位置
                    if(arg.status){
                        $('#comment_content_' + arg.data.news_id).val('');
                        var a = '<ul><li class="items" style="padding:8px 0 0 16px;"><span class="folder" id="comment_folder_';
                        var b = arg.data.nid;
                        var c = '"><div class="comment-L comment-L-top"><a href="#" class="icons zhan-ico"></a><a href="/user/moyujian/submitted/1"><img src="/statics/images/1.jpg"></a></div><div class="comment-R comment-R-top" style="background-color: rgb(246, 246, 246);"><div class="pp"><a class="name" href="/user/moyujian/submitted/1">';
                        var d = arg.data.username;
                        var e = '</a><span class="p3">';
                        var f = arg.data.content;
                        var g= '</span><span class="into-time into-time-top">';
                        var h = arg.data.ctime;
                        var i = '</span></div><div class="comment-line-top"><div class="comment-state"><a class="ding" href="javascript:void(0);"><b>顶</b><span class="ding-num">[0]</span></a><a class="cai" href="javascript:void(0);"><b>踩</b><span class="cai-num">[0]</span></a><span class="line-huifu">|</span> <a class="see-a jubao" href="javascript:void(0);">举报</a> <span class="line-huifu">|</span> <a class="see-a huifu-a" href="javascript:void(0);" onclick="';
                        var j = "reply(" + arg.data.news_id + "," +arg.data.nid+",'"+arg.data.username+"')";
                        var k = '">回复</a></div></div></div></span></li></ul>';
                        var tag = a+b+c+d+e+f+g+h+i+j+k;
                        console.log(arg,tag);
                        if(arg.data.reply_id){
                            $comment_folder = $('#comment_folder_' + arg.data.reply_id);
                            $comment_folder.after(tag);
                        }else{
                            $('#comment_list_'+arg.data.news_id).append(tag);
                        }


                    }else{
                        alert('error');
                    }
                }
            })
        }else{
            $('#accountDialog').removeClass('hide');
            $('.shadow').removeClass('hide');
        }
    }

    /*
     点赞
     */
    function DoFavor(ths, nid) {
        if($('#action_nav').attr('is-login') == 'true'){
            $.ajax({
                url: '/favor/',
                type: 'POST',
                data: {nid: nid},
                dataType: 'json',
                headers:{ "X-CSRFtoken":$.cookie("csrftoken")},
                success: function(arg){
                    if(arg.status){
                        var $favorCount = $('#favor_count_'+nid);
                        var c = parseInt($favorCount.text());
                        if(arg.code == 2301){
                            $favorCount.text(c + 1);
                            $(ths).find('span').addClass('active');
                            AddFavorAnimation(ths);
                        }else if(arg.code == 2302){
                            $favorCount.text(c - 1);
                            $(ths).find('span').removeClass('active');
                            MinusFavorAnimation(ths);
                        }else{

                        }

                    }else{

                    }
                }
            })
        }else{
            $('#accountDialog').removeClass('hide');
            $('.shadow').removeClass('hide');
        }
    }

    /*
     点赞+1效果
     */
    function AddFavorAnimation(ths, txt){
        var offsetTop = -10;
        var offsetLeft = 20;
        var fontSize = 24;
        var opacity = 1;
        var tag = document.createElement('i');
        tag.innerText = "+1";
        tag.style.position = 'absolute';
        tag.style.top = offsetTop + 'px';
        tag.style.left = offsetLeft + 'px';
        tag.style.fontSize = fontSize + "px";
        tag.style.color = "#5cb85c";
        $(ths).append(tag);

        var addInterval = setInterval(function(){
            fontSize += 5;
            offsetTop -= 15;
            offsetLeft += 5;
            opacity -= 0.1;
            tag.style.top = offsetTop+ 'px';
            tag.style.left = offsetLeft+ 'px';
            tag.style.fontSize = fontSize + 'px';
            tag.style.opacity = opacity;
            if(opacity <= 0.5){
                tag.remove();
                clearInterval(addInterval);
            }
        },40)
    }

    /*
     点赞-1效果
     */
    function MinusFavorAnimation(ths){
        var offsetTop = -10;
        var offsetLeft = 20;
        var fontSize = 24;
        var opacity = 1;
        var tag = document.createElement('i');
        tag.innerText = "-1";
        tag.style.position = 'absolute';
        tag.style.top = offsetTop + 'px';
        tag.style.left = offsetLeft + 'px';
        tag.style.fontSize = fontSize + "px";
        tag.style.color = "#787878";
        $(ths).append(tag);

        var addInterval = setInterval(function(){
            fontSize += 5;
            offsetTop -= 15;
            offsetLeft += 5 ;
            opacity -= 0.1;
            tag.style.top = offsetTop+ 'px';
            tag.style.left = offsetLeft+ 'px';
            tag.style.fontSize = fontSize + 'px';
            tag.style.opacity = opacity;
            if(opacity <= 0.5){
                tag.remove();
                clearInterval(addInterval);
            }
        },40)
    }

    /**
     * 回复评论
     * @param news_id
     * @param comment_id
     * @param username
     */
    function reply(news_id, comment_id, username){
        var $reply = $('#reply_id_' + news_id);
        $reply.attr('target', comment_id);
        $reply.text(username);
        $reply.parent().css('display','block');
    }

</script>
</body>
</html>