{% extends 'base.html' %}
{% load luffyadmin_tags %}

{% block body %}

    admin app index
    <div class="container">

        {% for app_name,table_list_dict in site.registered_admins.items %}
            <div class="">
                <h3>{{ app_name }}</h3>


                <table class="table table-hover">
                    {% for model_name,admin_class in table_list_dict.items %}
                        <tr>
                            <td>
                                <a href="{{ app_name }}/{{ model_name }}/">
                                    {% get_model_verbose_name admin_class %}
                                </a>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}


    </div>

{% endblock %}

